src/ActiveCommerce.Training.RealTimePricing/Service References/Services/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.training.activecommerce.com/Services/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.training.activecommerce.com/Services/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.training.activecommerce.com/Services/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ActiveCommerce.Training.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IProductService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAll" message="tns:IProductService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllResponse" message="tns:IProductService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/Get" message="tns:IProductService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetResponse" message="tns:IProductService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetPrice" message="tns:IProductService_GetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetPriceResponse" message="tns:IProductService_GetPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetStock" message="tns:IProductService_GetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetStockResponse" message="tns:IProductService_GetStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IProductService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://services.training.activecommerce.com/Services/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>